
<div class="contenedor">
    
    <main class="contenido2">
        <h2>Bienvenido!</h2>
        <h4>Diligencie los campos para continuar con la inscripcion</h4>
         <br>
         <form>
            <div class="form-group">
              <label for="exampleInputNameNego"></label> <br>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de negocio" >                  
            </div>
            
            <div class="form-group">
                <label for="exampleInputNameOur"></label> <br>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Propietario" >                  
              </div>

            <div class="form-group">
              <label for="exampleInputCc"></label> <br>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cedula"  >                  
            </div>

            <div class="form-group">
                <label for="exampleInputDirComer"></label> <br>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Direccion comercial"  >                  
              </div>

              <div class="form-group">
                <label for="exampleInputTel"></label> <br>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Numero Telefonico"  >                  
              </div> <br><br>
                       
              <button  type="submit" class="btn btn-primary btn-block" >Guardar</button>                
          </form>            
    </main>            

</div>